.name {
    grid-area: name;    
}

.stack {
    grid-area: stack;
    position: fixed;
    top: 0px;
    right: 5px;
}

.task-field {
    margin: 10px 5px 10px 5px;
}

.short-field {
    grid-area: sField;
}

.form {
    grid-area: form;
}

.long-field {
    grid-area: lField;
}

.priority {
    grid-area: priority;
}

.due-date {
    grid-area: due;
}

.complete {
    grid-area: complete;
}

.save {
    grid-area: save;
}

.task-grid{
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'name name name name name'
    'form form form form form'
    'lField lField lField lField lField'
    'lField lField lField lField lField'
    'complete . . . save';
}

.MuiTooltip-tooltip {
    background-color: white;
    color: black;
}