.name {
    grid-area: name;
}

.task-field {
    margin: 10px 5px 10px 5px;
}

.short-field {
    grid-area: sField;
    width: fit-content;
}

.long-field {
    grid-area: lField;
}

.priority {
    grid-area: priority;
}

.due-date {
    grid-area: due;
}

.close {
    grid-area: close;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
}

.task-grid{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'name name'
    'priority lField'
    'due lField'
    '. lField'
    '. lField';
}


