.name {
    grid-area: name;    
}

.task-field {
    margin: 10px 5px 10px 5px;
}

.short-field {
    grid-area: sField;
    max-width: fit-content;
    margin: 5px 5px 5px 5px;
}

.long-field {
    grid-area: lField;
}

.priority {
    grid-area: priority;
}

.due-date {
    grid-area: due;
}

.task-grid{
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'name name name name name'
    'priority . due . .'
    'lField lField lField . .'
    'lField lField lField . .'
    'lField lField lField . .';
}

.MuiTooltip-tooltip {
    background-color: white;
    color: black;
}