#frame {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#form {
    background-size: contain;
    box-shadow: -5px 5px 10px gray;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sign-in {
    background-image: url('../../../public/blue_resized.jpg');
}

.register {
    background-image: url('../../../public/bright_resized.jpg');
}

#login {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 2px 2px 5px 5px black;
    width: 20vw;
    padding: 10px;
}

